
<%- include("partials/header"); -%>

<!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
<div style="display: block;margin-top: 13em;">
  <h1
    style="
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 0.7em;
    "
  >
    Welcome To XYZ
  </h1>
  <div style="display: flex; padding-top: 10px">
    <div style="width: 50%">
      <p style="font-family: cursive; width: 80%; text-align:end;margin-left: 1.5em;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac
        felis pulvinar, tempus ante id, lobortis libero. In tempor venenatis
        lorem sit amet congue. Curabitur vel urna quis diam sodales pulvinar.
        Etiam ac molestie dolor. Fusce a felis id orci commodo malesuada eget
        sed elit. Donec tincidunt iaculis urna a tristique. In hac habitasse
        platea dictumst. Duis finibus quis massa id congue. Curabitur venenatis
        odio ut nisl sodales, et convallis nisl malesuada.
      </p>
    </div>
    <div style="width: 50%; max-width: 400px">
      <img src="/images/pizza.svg" alt="pizza SVG" />
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>

