<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/order.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <body>
    <h1>Previous Orders By You</h1>
    <div class="container">
      <% if(orders.length==0){%>
      <div>No Orders Available</div>
      <a href="/">Back to Home</a> <%}else{ orders.map((order)=>{ %>
      <div>
        <div class="row">
          <h3><%=order.food%> <span><%=order.quantity%></span></h3>
        </div>
      </div>

      <% })}%>
    </div>
    <div></div>
  </body>
</html>
