<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/updateOrder.css' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update an Order</title>
</head>
<body>
    <h1>Update an Order</h1>

    <div>
        <form method="POST" action="/orders/update/"> // Here order ID will be passed as a parameter!
          <label for="fname">Order ID</label>
          <input type="text" id="orderId" name="orderId" placeholder="Order ID" required>
        
          <label for="fname">Food Name</label>
          <input type="text" id="food" name="food" placeholder="Food Name" >
      
          <label for="cname">Customer Name</label>
          <input type="text" id="customerName" name="customerName" placeholder="Customer Name" >
      
          <label for="quantity">Quantity</label>
          <input type="number" step="1" min="1" max="" name="foodQuantiy" value="1" title="food Quantiy" inputmode="">
          <input type="submit" value="Update">
        </form>
      </div>
</body>
</html>