.container-body {
    width: 100%;
    min-height: fit-content;
}

.slide-show {
    position: relative;
    height: 600px; 
    overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
    width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

.dot-container{
    text-align: center;
    margin-top: -30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  font-size: 30px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  border: 3px solid #000;
  display: inline-block;
}

.title {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #150050;
}

.food-items{
    margin-top: 50px;
    margin-bottom: 100px;
}

.active, .dot:hover {
  background-color: #fff;
}

.grid-main {
  display: inline-grid;
  margin-left: 0.5%;
  grid-template-columns: repeat(4 ,20%);
  grid-template-rows: 30%, 30%, 30%;
  grid-gap: 4.5% 5%;

} 

.grid-item{ 
  font-family: monospace;
  float: left;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 60%);
}

.grid-main img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
  
}
.order-button{
  margin:0px;
  height:50px;
}
.grid-item a {
    text-align: center;
    display: block;
    background-color: #1abc9c;
    padding: 5px;
    border-radius: 8px;
    border-bottom: none;
    line-height: 40px;
    font-family: monospace;
    height:50px;
    font-weight: 700;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.grid-item a:hover{
    background-color: #30db74;
   
}

.grid-item .food-info {
  margin-top: -10px;
  padding: 5px;
  border-top: none;
}



