
/* .container-body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: gray;
} */

body {
  background-color: #ecedd1;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 0.7em;
}
h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold !important;
}

a{
  color: rgb(174, 236, 161) !important;
}
a.scroll{
  color: black !important;
  font-weight: bold !important;
}
.social-icon {
    margin: 10px 10px;
}
.fs-5{
  font-size: 2rem;
  font-weight: bold;
}

li{
  font-size: 1.75rem;
}

.middle{
  margin-left: 5%;
}
.middle h1{
  
  font-size: 45px;
  font-weight: 900;

  margin: 4em 0 0 2em;
  display: flex; 
  width: 100%;
}

.bodycontent1 p{

  font-family: cursive; 
  font-size: 2rem;
  /* width: 80%; */
  /* text-align:end; */
  margin-left: 4.5em;
  padding-bottom: 10%;
}

.bodycontent2{
  margin-top: 10%;
  margin-left: 50px;
  margin-bottom: 50px;
   max-width:500px
}

/*--- NAVBAR ---*/
.navbar-default {
  background: #1abc9c;
  border-bottom: 1px solid #c9c6c6;
  height: 65px;
  margin:auto;
  
}
.navbar-header .navbar-toggle {
  margin-top: 12px;
}
.navbar-header .navbar-brand {
  letter-spacing: -0.03em;
  height: 60px;
  padding: 30px 10px 0 0px;
  font-size: 32px;
  font-weight: 500;
  line-height: 0px;
  color: #fefefe;
  white-space: nowrap;
}
.navbar-default .navbar-brand:hover {
  color: #fefefe;
}
.navbar-default .navbar-nav {
  background: #1abc9c;
  margin-top: 0;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  padding: 10px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a.selected {
  transition: all 1s linear;
}

/* Footer */
.logo{
  display: inline-block;
  margin-top: 20px;
  width: 100px;
  height: 90px;
}



.footer {
  padding-top: 50px;
  position:relative;
  clear: both;
  text-align: center;
  width: 100% !important;
  background-color: #1abc9c;
}
.footer hr{
  margin: 1% 5%;
  border-top: 1px solid rgb(174, 236, 161) !important;
}
.footer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  padding-top: 5px;
  color: rgb(0, 0, 0);
}


@media screen and (max-width: 768px) {
  .icon{
    display: block;
    width: 100px;
  }
  .middle h1 {
    font-size: 34px;
    font-weight: 900;
    margin: 4em 0 0 2em;
    display: flex;
    width: 100%;
} 

  .navbar-header .navbar-brand {
    letter-spacing: -0.03em;
    height: 40px;
    margin-left: 20px;
    padding: 30px 10px 0 0px;
    font-size: 36px;
    line-height: 0px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    
  }
}

@media screen and (min-width: 768px) {
 
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
  .navbar-default {
    height: 100px;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-header .navbar-brand {
    height: 70px;
    padding: 40px 0 0 15px;
    font-size: 42px;
    
  }
  .navbar-default .navbar-nav > li > a {
    padding: 0px 20px 9px 0;
  }
  .navbar-default .navbar-nav > li > a:hover {
    background-color:transparent;
    
  }
  .icon{
    position: relative;
    float: right;
    margin-top: -1.7em;
    font-size: 50px;
  }
}

@media screen and (min-width: 992px) {

  .navbar-default {
    height: 106px;
  }
  .navbar-header .navbar-brand {
    height: 68px;
    padding: 40px 0 5px 15px;
    font-size: 44px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 5px 25px 9px 0;
  }
  .icon{
    position: relative;
    float: right;
    margin-top: -1.7em;
    font-size: 50px;
  }
}
